.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
  

div#slider {
    overflow: hidden;  /* Evita que las imágenes se desborden fuera del contenedor */
    width: 100%;       /* Asegura que el contenedor ocupa el 100% del ancho */
    height: 100vh;     /* Asegura que el contenedor ocupe el 100% de la altura de la pantalla (o contenedor padre) */
    
  }
  
div#slider figure {
    position: -webkit-sticky;
    width: 600%;        /* Ancho total para las 6 imágenes (cada una del 16.666%) */
    height: 100vh;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    display: flex;      /* Usa flexbox para asegurar que las imágenes se alineen horizontalmente */
    animation: 24s slidy infinite ease;  /* Puedes ajustar el tiempo si quieres un deslizamiento más rápido o lento */
}
  
div#slider figure img {
    width: auto;        /* Las imágenes ocupan el 100% del ancho del contenedor figure */
    height: 100%;       /* Las imágenes ocuparán también el 100% de la altura del contenedor */
    object-fit: cover;  /* Asegura que las imágenes se ajusten manteniendo la relación de aspecto */
}
  
/* Animación de deslizamiento */
@keyframes slidy {
    0% { left: 0%; }
    16.666% { left: 0%; }
    20% { left: -100%; }
    36.666% { left: -100%; }
    40% { left: -200%; }
    56.666% { left: -200%; }
    60% { left: -300%; }
    76.666% { left: -300%; }
    80% { left: -400%; }
    96.666% { left: -400%; }
    100% { left: -500%; }  /* Desplaza hasta la sexta imagen */
}


.swiper-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cubre el contenedor sin distorsionar el video */
}
